.search-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 24px; */
}

.search-wrapper.flex-center {
    justify-content: center;
}

.search-input {
    width: 50%;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #dfe1e5;
}

.search-input:focus {
    outline: none;
}

.search-input:hover,.search-input:focus {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.search-btn {
    padding: 12px;
}

.search-btn:hover {
    cursor: pointer;
}
