:root {
  --color-border-default: #d0d7de;
  --color-hover-default: #c1cad3;
  --color-card-bg: #ffffff;
  --color-tag-bg: #ebedf0;
  --color-repo-caption: #616466;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  background-color: #efefef;
}

#root {
  height: inherit;
  width: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
